= simple_form_for @post, html: { multipart: true } do |f|
  - if @post.errors.any?
    #errors
      %h2
        = pluralize(@post.errors.count, "error")
        prohibited this post from being saved:
      %ul
        - @post.errors.full_messages.each do |msg|
          %li= msg

  .form-group
    = f.input :title, input_html: { class: 'form-control' }

  .form-group
    = f.collection_select :category_id, Category.order(:name), :id, :name, {promt: "Choose a Category"}, input_html: { class: 'form-control' }

  .form-group
    = f.input :description, input_html: { class: 'form-control' }

  .form-group
    = f.input :price, input_html: { class: 'form-control' }

  = f.button :submit, class: "btn btn-primary"